<div class="relative min-h-screen w-full overflow-hidden bg-dark">
  <div class="absolute inset-0 z-0">
    <img src="auth/bg-auth.jpg" alt="Real Estate Background" 
         class="h-full w-full object-fill object-center">
    <div class="absolute inset-0 bg-black/30"></div>
  </div>

  <div class="absolute top-0 right-0 z-10 h-full w-full md:w-1/2 lg:w-2/5 xl:w-1/3">
    <div class="flex h-full w-full items-center justify-center bg-white p-8 shadow-xl">
      <div class="w-full max-w-md">
        <router-outlet/>
      </div>
    </div>
  </div>
</div>